name: Build

on:
  push:
    branches: [ "**" ]

  pull_request:
    branches: [ "**" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 23

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Add execute permissions for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build
